.awssld__content {
  background: rgb(140, 140, 140);
  background: linear-gradient(
    180deg,
    rgba(140, 140, 140, 1) 0%,
    rgba(240, 240, 241, 1) 100%
  );
}
.section {
  width: 100%;
  margin: auto 10%;
}
#brands img {
  width: 50px;
  height: 50px;
}

#projects div {
  width: -webkit-fill-available;
}

#projects div h1 {
  text-align: center;
}

#email-form .container {
  display: block;
  width: 600px;
  margin: 25px;
}

#email-form p {
  font-size: 12px;
  margin: 25px;
}

#email-form > div {
  border-radius: 25px;
  background: #f0f0f0;
  box-shadow: 0px 8px 17px black;
}
#textarea {
  height: 300px;
}
#email-form h1 {
  margin: 1em auto;
  text-align: center;
}

code {
  font-size: 1em;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  border: 1px solid black;
  height: 300px;
}

#me {
  width: 200px;
  height: auto;
}

#brands {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

p {
  font-family: "Comfortaa", cursive;
}
h1,
h4 {
  margin: 20px 0px;
  font-family: "Secular One", sans-serif;
}

a.social-icon {
  margin: auto 10px;
  transition: 0.3s ease-in-out;
}

a.social-icon:hover {
  opacity: 0.6;
}

#socials #globe {
  color: white;
  display: flex;
  float: right;
  height: 50px;
  width: 50px;
  font-size: 42px;
  transition: 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
}

#socials #globe:hover {
  color: rgb(119, 119, 119);
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 12px;
}

header {
  position: relative;
  justify-content: center;
  align-items: center;
  display: grid;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-align: center;
  text-shadow: 3px 0 8px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
}

.section p:nth-of-type(1) {
  font-size: 42px;
}

.row h1 {
  margin: 30px 0px;
}

.highlight {
  color: rgb(255, 78, 107);
  font-weight: 700;
}
.grid {
  height: 400px;
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  width: 100%;
  list-style: none;
  text-align: center;
  margin: 0 10px;
}

/* Common style */
.grid figure {
  border-radius: 15px;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #0d6a8b;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  object-fit: cover;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;

  font-size: 70%;
  font-weight: bolder;
}

figure.effect-marley figcaption {
  text-align: right;
}

figure.effect-marley h2,
figure.effect-marley p {
  position: absolute;
  right: 30px;
  left: 30px;
  padding: 10px 0;
}

figure.effect-marley p {
  bottom: 30px;
  line-height: 1.5;
  text-align: left;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-marley h2 {
  top: 30px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

figure.effect-marley:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-marley h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  content: "";
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.effect-marley h2::after,
figure.effect-marley p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-marley:hover h2::after,
figure.effect-marley:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#alertMessage {
  text-align: center;
  color: green;
  font-size: larger;
  margin-bottom: 10px;
}

#email-form button {
  margin: auto;
  width: 25%;
}

#floatingTextarea2{
  height: 200px;
}
@media only screen and (max-width: 767px) {
  .awssld {
    height: 100vh;
  }

  .title {
    font-size: 4rem;
  }

  .form-floating {
    width: auto;
  }

  #brands {
    margin: 20px auto;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  #projects {
    overflow: scroll;
  }

  #projects div {
    margin: auto;
    display: block;
  }
  #projects div h1 {
    margin: 30px auto;
  }
  .project-title {
    margin: 20px auto;
  }

  .section p:nth-of-type(1) {
    font-size: 24px;
  }

  #socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #email-form .container {
    margin: 1em auto;
    width: auto;
    height: auto;
  }

  #email-form > div {
    margin: auto 10px;
    width: -webkit-fill-available;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  #email-form > div {
    
    margin: 25px auto;
  }

  
  .grid {
    height: 300px;
  }

  #projects div h1 {
    font-size: 24px;
  }

  .project-title {
    margin: 20px auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .section p:nth-of-type(1) {
    font-size: 24px;
  }

  #floatingTextarea2{
    height: auto;
  }

  .grid {
    height: 200px;
  }

  #email-form > div {
    height: -webkit-fill-available;
    margin: 25px;
  }
  .section {
    width: 75%;
  }
  #textarea {
    height: 100px;
  }
}
